<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pilates</title>

	<link rel = "stylesheet" href = "stylesheet.css" />
    </head>
    <body>
      
	<h1>
	  Introduction:
	  </h1>
	<p>
	Helllllllllo world. I'm Ke. Don't try pronouncing it because it will be wrong, and it is best we don't bother with names anyway. I'm your typical and not so typical 20 year old girl. I attend the University of Virginia. I like to shop. I like to watch bad reality shows. I like to paint my nails. I like to cook. And I like to code. The downside to that last activity is that oftentimes, I find myself sitting on for long hours at a time, which equates to me gaining unwanted weight. Instead of bobbing up and down on an elliptical for hours and hours at the gym, I recently have gotten into pilates from the comfort of my own home. Here have been a couple really awesome workouts: 
	</p>
        <div class="content">
	  <h4>Pilates workouts: </h4>
            <% if (id != undefined) {%>
            <iframe width="640" height="360" src="<%= id%>" frameborder="0" allowfullscreen></iframe>
	    
            <% } else { %>
	    <p>Next on my todo: </p>
            <iframe width="640" height="360" src="//www.youtube.com/embed/qOdEVngUs-c" frameborder="0" allowfullscreen></iframe>
	    <p>My first pilates:</p>
<iframe width="640" height="360" src="//www.youtube.com/embed/tUVvec3z-mo?list=PLSCcAGyv98ieqMkQH_q5T_gazNVxEcZew" frameborder="0" allowfullscreen></iframe>
<p>Favorite pilates video:</p>
 <iframe width="640" height="360" src="//www.youtube.com/embed/xDpB8pWEjhk" frameborder="0" allowfullscreen></iframe>
<p>When I have alot of time: </p>
<iframe width="640" height="360" src="//www.youtube.com/embed/lMnY5jAlp6Y" frameborder="0" allowfullscreen></iframe>

            <% } %>
        </div>
    </body>

    
</html>
